<head>
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
	<meta name="google-site-verification" content="SEkSYGr39s_qX06CYMXlSYaMcgATxGoOiNntOebjTpM" />
	<meta property="og:title" content="Topページ">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://s-all11.github.io/">
	<meta property="og:image" content="https://s-all11.github.io/assets/images/ogp/default.png">
	<meta property="og:site_name" content="通りすがりの暇人のアジト">
	<meta property="og:description" content="アジトでは私の活動報告や開発・研究などの暗躍について様々な
	情報共有のための更新を行っていくのだ！興味がある人はぜひ入団の証として
	フォローやお気に入り登録をよろしくたのんだぞ！！">
	<meta property="og:locale" content="ja_JP">
	<!-- 以下ツイッター用 -->
	<meta name="twitter:card" content="summary_large_image">
	<!-- <meta name="twitter:site" content="@ユーザー名"> -->
	<meta name="twitter:title" content="通りすがりの暇人のアジト">
	<meta name="twitter:description" content="アジトでは私の活動報告や開発・研究などの暗躍について様々な
	情報共有のための更新を行っていくのだ！興味がある人はぜひ入団の証として
	フォローやお気に入り登録をよろしくたのんだぞ！！">
	<meta name="twitter:image" content="https://s-all11.github.io/assets/images/ogp/default.png">
</head>
